<div class="main shop-show">
    <div class="shop-total-image">
        <img src="/assets/green.jpg" alt="" width: 100%;>
    </div>
    <div class="container">
        <div class="shop-return">
            <a href="/shops">
                <p>ショップ一覧へ</p>
            </a>
        </div>
        <div class="shop">
                <div class="shop-image">
                    <%= image_tag(@shopDetails.image_name) %>
                </div>
                <h2 class="shop-name">
                    <%= @shopDetails.name %>
                </h2>
                <h3 class="shop-overview">
                    <%= @shopDetails.overview %>
                <h3 class="shop-url">
                    <%= link_to(@shopDetails.url, @shopDetails.url) %>

        </div>
    </div>
</div>
