<div class="main article-index">
  <div class="container">
    <h1 class="articles-heading">記事一覧</h1>
    <div class="articles">
      <% @articles.each do |article| %>
        <div class="article">
        <a href="/articles/<%= article.id %>" class="link-to-article">
            <div class="article-img"><%= image_tag article.image_name, :width =>'400', :height =>'300' %></div>
            <p class="article-title"><%= article.title %></p>
        </a>
        </div> <!-- /.article -->
      <% end %>
      </div> <!-- /.articles -->
  </div> <!-- /.container -->
</div>
