<div class="main article-show">
  <div class="container">
    <div class="article-return"><a href="/articles"><p>記事一覧へ</p></a></div>
    <div class="article">
      <div class="article-header">
        <div><%= image_tag 'article_img_sample.jpeg', :size =>'900x400' %></div>
        <div><h2>記事タイトル</h2></div>
      </div> <!-- /.article-header -->

      <div class="article-meta">
        <div class="article-writer"><%= image_tag 'writer_sample.jpg', :size => '50x50' %><p>めいこ</p></div>
        <p class="article-date">YYYY/MM/DD</p>
      </div>

      <div class="article-text">
        <p>段落1　本文スタート</p>
        <p>段落2　本文です。記事が大量になればDB化したほうがいいかもしれません。最初はベタ書きでよさそうです。長文テキスト型になります。Writerはなな＆めいこです。折り返し有りのテキストです。フォントサイズは20pxです。</p>
        <h3>見出しを作っても良いかもしれません。</h3>
        <p>段落2　本文です。<br>記事が大量になればDB化したほうがいいかもしれません。<br><br>最初はベタ書きでよさそうです。<br>長文テキスト型になります。<br><br>Writerはなな＆めいこです。<br><br>折り返し有りのテキストです。<br><br>フォントサイズは20pxです。</p>
      <div> <!-- /.article-text -->

    </div> <!-- /.article -->
  </div> <!-- /.container -->
</div>
