<div class="about-main">
  <h2>People Earth</h2>
  <p>
    私たちは何とつながっているのか
  </p>
  <p>
    "地球と共に暮らしていく"とは
  </p>
  <p>
    一人で一歩を踏み出すことは勇気がいるけれど、
  </p>
  <p>
    ここには同じ意志をもったたくさんの仲間がいます。
  </p>
  <p>
    命を与えてくれる地球を未来に繋げるために。。
  </p>
</div>