<div class="main top-main">
    <div class="top-message">
        <h1>私たちの一歩で、世界は変わる。</h1>
        <p>ひとりで一歩を踏み出すことは勇気がいるけれど、<br>
            ひとりの一歩で変わる未来がある。</p>
        <p>choice It.は<br>
            「地球にも人にも優しい世界を」をコンセプトに<br>
            ひとりひとりが行動を起こすための<br>
            手助けをするために生まれたサービスです。<br>
        </p>
    </div>
</div>
