<div class="main top-container">
    <div class="top-message area bg-image1">
        <div class="message">
            <h1>私たちの一歩で、世界は変わる。</h1>
            <span class="marker">ひとりで一歩を踏み出すことは勇気がいるけれど、<br>
                ひとりの一歩で変わる未来がある。<br><br>
                choice It.は<br>
                「地球にも人にも優しい世界を」をコンセプトに<br>
                ひとりひとりが行動を起こすための<br>
                手助けをするために生まれたサービスです。<br>
            </span> <!-- /.marker -->
        </div> <!-- /.message -->
    </div> <!-- /.top-message -->

    <div class="top-pe area bg-image2">
        <div class="pe">
            <h2 class="pe-text">
                私たちが暮らす地球のことをもっと身近に。
            </h2>

            <div class="center-block">
                <h3 class="content-logo">Earth</h3>
                <div class="contents">
                    <div class="top-content"> <%= link_to("SHOP", "/shops") %> </div>
                    <div class="top-content"> <%= link_to("ARTICLE", "/articles?category_id=2") %> </div>
                </div> <!-- /.contents -->
            </div><!-- /.center-block -->
        </div> <!-- /.pe -->
    </div><!-- /.area -->

    <div class="top-pe area bg-image3">
        <div class="pe">

            <h2 class="pe-text">
                誰もが自由に暮らせる社会へ。
            </h2>

            <div class="center-block">
                <h3 class="content-logo">People</h3>
                <div class="contents">
                    <div class="top-content"> <%= link_to("BOOK", "/books") %> </div>
                    <div class="top-content"> <%= link_to("ARTICLE", "/articles?category_id=1") %> </div>
                </div> <!-- /.contents -->
            </div><!-- /.center-block -->
        </div> <!-- /.pe -->
    </div><!-- /.area -->

    <div class="top-inquiry area bg-image4">
        <div class="inquiry">
            <div class="inquiry-title">
            <h3>お問い合わせ</h3>
            </div>
            <form id="contact-form">
                <div class="item">
                    <input type="hidden" name="contact_number">
                    <input type="text" name="user_name" placeholder="お名前" required><br>
                    <input type="email" name="user_email" placeholder="メールアドレス" required><br>
                    <textarea type="text" name="message" placeholder="お問い合わせ内容" required></textarea>
                </div>
                <div class="btn-area">
                    <button id="submit" type="submit">
                    送信
                    </button>
                </div>
            </form>
        </div>
        </div>
</div> <!-- /.main top-container -->
