<div class="main top-container">
        <div class="top-message area">
            <div class="message">
                <h1>私たちの一歩で、世界は変わる。</h1>
                <p>ひとりで一歩を踏み出すことは勇気がいるけれど、<br>
                    ひとりの一歩で変わる未来がある。</p>
                <p>choice It.は<br>
                    「地球にも人にも優しい世界を」をコンセプトに<br>
                    ひとりひとりが行動を起こすための<br>
                    手助けをするために生まれたサービスです。<br>
                </p>
            </div><!-- /.message -->
        </div> <!-- /.top-message -->

    <div class="area">
        <div class="pe">

            <h2 class="pe-text">
                私たちが暮らす地球のことをもっと身近に。
            </h2>

            <div class="center-block">
                <div class="content-logo">Earth</div>
                <div class="contents">
                    <div class="top-content"> <%= link_to("SHOP", "/shops") %> </div>
                    <div class="top-content"> <%= link_to("ARTICLE", "/articles?2") %> </div>
                </div> <!-- /.contents -->
            </div><!-- /.center-block -->
        </div> <!-- /.pe -->
    </div><!-- /.area -->

    <div class="area">
        <div class="pe">

            <h2 class="pe-text">
                誰もが自由に暮らせる社会へ。
            </h2>

            <div class="center-block">
                <div class="content-logo">People</div>
                <div class="contents">
                    <div class="top-content"> <%= link_to("BOOK", "/books") %> </div>
                    <div class="top-content"> <%= link_to("ARTICLE", "/articles?1") %> </div>
                </div> <!-- /.contents -->
            </div><!-- /.center-block -->

        </div> <!-- /.pe -->
    </div><!-- /.area -->

</div> <!-- /.main top-container -->
