.top-bar {
  font-weight: 300;
  padding: 60px 40px 20px;
  height: 40vh;
  font-size: 48px;
  text-align: center;
}
.top-bar h1 {
  font-weight: 300;
  font-size: 48px;
}

.top-bar p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.contents-bar a {
  background-color: white;
  width: 320px;
  margin-bottom: 50px;
}

.article-info {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  margin: 0 0 20px 10px;
}

.article-sumbnail {
  text-align: center;
  vertical-align: top;
}

.article-info img {
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 8px 0 0;
}

.article-box {
  padding: 0 13vw 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
}

.article-contents {
  margin: 15px 15px;
}

.article-title {
  font-size: 14px;
  font-weight: bold;
}

.writer-name {
  font-size: 14px;
}

/* articles/show ================================ */

.article {
  margin-bottom: 20px;
}

.breadcrumbs {
  width: 980px;
  margin: 10px auto 0;
}
.breadcrumbs ul {
  display: table;
  font-size: 13px;
}
.breadcrumbs ul li {
  margin: 0 10px 0 0;
  font-size: 13px;
  float: left;
}
.breadcrumbs ul li:first-child::before {
  padding: 0 3px 0 0;
  content: "\f1ea";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}
.breadcrumbs ul li::before {
  padding: 0 7px 0 0;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}

.article-header img {
  width: 100%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.article h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  padding: 10px 0 20px;
}
.article h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
  padding: 30px 0 20px;
}

.article-writer {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  margin: 0 0 20px 10px;
  font-size: 18px;
}

.article-meta img {
  border-radius: 50%;
  object-fit: cover;
  margin: 0 8px 0 0;
}

.article-date {
  font-size: 14px;
  margin: 0 0 40px 0;
  text-align: right;
}
.article-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 0;
}
