.articles-heading {
  font-weight: 300;
  margin: 60px 40px 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	align-content: space-around;
  width: 100%;
}
.articles article {
  width: 30%;
}
.article_img {
  padding: 0;
}
.article-title {
  margin: 0 0 8px;
  padding: 0 0 80px;
  font-size: 32px;
}
